body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-image: url(backgrounds/13312.jpg);
    color: black;
}

.main {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

@keyframes fadeIn1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes fadeIn2 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.hdr_main {
    animation: fadeIn1 2s;
}

.img_main {
    width: 300px;
    padding: 75px;
    overflow: hidden;
}

.img_main img{
    max-width: 100%;  
    animation: fadeIn2 2s;
    border-radius: 50%; 
}

.txt_main {
    animation: fadeIn2 3s;
}

.buttons a{
    font-size: 1.5em;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 8px;
    margin-left: 2.5px;
    margin-right: 2.5px;
    background-color: #0e574f;

}

.buttons_main {
    text-align: center;
    animation: fadeIn2 4s;
}

.buttons a:hover {
    background-color: #1a9788;
    color: black;
}
  
.buttons a:active {
    background-color: #28ead3;
    color: black;
}

.topnav {
    background-image: url(backgrounds/13312.jpg);
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
    border-bottom: 1px solid black;
}

hr {
    height: 1px;
    border-width: 0;
    color: black;
    background-color: black;
}

h1 {
    font-size: 6em;
    display: inline;
}

h2 {
    font-size: 2.5em;
}

h4 {
    font-size: 1.5em;
}

p {
    font-size: 1.5em;
}

.subpage {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 60px;
    padding: 0%;
    margin-left: 2.5px;
}

.img_chess {
    max-width: 25%;
    height: auto;
}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.75em;
    padding: 5px;
    color: #000;
    margin-bottom: 20px;
    text-decoration: none;
  }

.ftr_main {
    animation: fadeIn2 6s;    
    text-align: center;
}
