body{
    background-image: url(backgrounds/13312.jpg);
    padding: 5px
}

.main {
    color: black;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

@keyframes fadeIn1 {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

@keyframes fadeIn2 {
    0% { opacity: 0; }
    50% { opacity: 0; }
    100% { opacity: 1; }
}

.hdr_main {
    animation: fadeIn1 2s;
}

.txt_main {
    animation: fadeIn2 2s;
}

.buttons a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: black;
    text-align: center;
    display: inline-block;
    padding: 14px 16px;
    text-decoration: none;
    border-radius: 4px;

}

.buttons_main {
    text-align: center;
    animation: fadeIn2 4s;
}

.buttons a:hover {
    background-color: gray;
    color: black;
}
  
.buttons a:active {
    background-color: blackgit;
    color: white;
}

.topnav {
    background-image: url(backgrounds/13312.jpg);
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
}

h1 {
    font-size: 2em;
}

p {
    font-size: 0.75em;
}

.subpage {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 50px;
    padding: 0%;
}

.img-chess {
    img {
        max-width: 25%;
        height: auto;
    }

}

footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 0.625em;
    padding: 5px;
    color: #000;
    margin-bottom: 20px;
    text-decoration: none;
  }

.ftr_main {
    animation: fadeIn2 6s;    
    text-align: center;
}
  