body{
    background-image: url(backgrounds/wp7599470-night-minimal-wallpapers.jpg);
}

.topnav {
    background-image: url(backgrounds/wp7599470-night-minimal-wallpapers.jpg);
    overflow: hidden;
    display: flex;
    position: fixed;
    top: 0px;
    margin-top: 10px;
    width: 100%;
}
.topnav a{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: block;
    color: bisque;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;

}

.topnav a:hover {
    background-color: #ddd;
    color: black;
}
  
.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.main {
    margin-top: 30px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.footer {
    text-align: center;
    padding: 5px;
    background-color: #abbaba;
    color: #000;
    margin-bottom: 20px;
  }
  